@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
/* ==== VARIABLES CSS ==== */
:root{
    --header-height: 3rem;
    --font-semi: 600;
}

/* ==== COLORS ==== */
:root{
    --first-color: #4070F4;
    --second-color: #0E2431;
}

/* ==== TYPOGRAPHY ==== */
:root{
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px){
    :root{
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
    
}

/* ==== Margins ===== */
:root{
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

/* ==== z-index ==== */
:root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* === base === */
*,::before::after{
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}

/* ===Navbar=== */
.block-header{
    display: flex;
    align-items: center;
    /* background-color: var(--first-color); */
}
.head{
    min-height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-r{
    width: 80%;
    margin: auto;
}
.nav__content{
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Hamburger */
.hamburger{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--second-color);
    cursor: pointer;
}
.hamburger::before{
    content: '';
    position: absolute;
    transform: translateY(9px);
    height: inherit;
    width: inherit;
    background-color: var(--second-color);
}
.hamburger::after{
    content: '';
    position: absolute;
    transform: translateY(-9px);
    height: inherit;
    width: inherit;
    background-color: var(--second-color);
}
 @media screen and (max-width: 760px){
    .head{
        justify-content: space-between;
    }
     .nav{
        padding: 2rem;
        height: 100vh;
        background-color: red;
        position: absolute;
        transition: 1s;
        top: 3rem;
     }
     .nav__content{
        height: 70vh;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
     }
     .nav__content a{
        font-size: var(--h2-font-size);
        font-weight: var(--font-semi);
     }
     .shw{
        right: 0;
     }
     .noshw{
        right: -900px;
     }
 }
 .btn{
    background-color: red;
 }